apiVersion: nmstate.io/v1beta1
kind: NodeNetworkConfigurationPolicy
metadata:
  name: {{ bond_name }}
spec:
  desiredState:
    interfaces:
      - name: {{ bond_name }}
        type: bond
        link-aggregation:
          mode: {{ bond_mode }}
          port:
{% for nic in bond_interfaces %}          
          -  {{ nic.name }}
{% endfor %}
