apiVersion: nmstate.io/v1beta1
kind: NodeNetworkConfigurationPolicy
metadata:
  name: bond-ips-{{ item.name }}
spec:
  nodeSelector:
    kubernetes.io/hostname: {{ item.name }}
  desiredState:
    interfaces:
{% for vlan in vlans %}
      - name: {{ bond_name }}.{{ vlan.id }}
        type: vlan
        state: up
        vlan:
          base-iface: {{ bond_name }}
          id: {{ vlan.id }}
        ipv4:
          enabled: true
          dhcp: false
          address:
          - ip: {{ vlan.ip}}.{{ item.ip }}
            prefix-length: 24
{% endfor %}