apiVersion: v1
baseDomain: {{ common_cluster_domain }}
{% if common_nodes | selectattr('name', 'search', '^master') | list | length == 3 %}
compute: 
- name: worker
  architecture: amd64
  hyperthreading: Enabled
  replicas: {{ common_nodes | selectattr('name', 'search', '^worker') | list | length }}
controlPlane: 
  name: master
  architecture: amd64
  hyperthreading: Enabled
  replicas: {{ common_nodes | selectattr('name', 'search', '^master') | list | length }}
{% else %} 
compute: 
- name: worker
  architecture: amd64
  hyperthreading: Enabled
  replicas: 0
controlPlane: 
  name: master
  architecture: amd64
  hyperthreading: Enabled
  replicas: 1
{% endif %}
metadata:
  name: {{ agent_install_cluster_name }} 
networking:
  machineNetwork:
  - cidr: {{ agent_install_cluster_cidr }}
  clusterNetwork:
  - cidr: 10.128.0.0/14 
    hostPrefix: 23 
  networkType: OVNKubernetes 
  serviceNetwork: 
  - 172.30.0.0/16
platform:
{% if common_nodes | selectattr('name', 'search', '^master') | list | length == 3 %}
  baremetal:
    apiVIPs:
      - {{ agent_install_api_ip }}
    ingressVIPs:
      - {{ agent_install_ingress_ip }}
{% else %}
  none: {}
{% endif %}
fips: {{ common_fips_enabled }}
pullSecret: '{{ lookup('ansible.builtin.file', ansible_user_dir + '/.docker/config.json' ) }}'
sshKey: "{{ lookup('ansible.builtin.file', common_ssh_key + '.pub' ) }}"
{% if not agent_install_connected | bool %}
additionalTrustBundle: |
{{ lookup('ansible.builtin.file', common_registry_volume + '/ca/ca.cer') | indent(2, true) }}
imageDigestSources:
  - mirrors:
    - {{ ipv4_address | first  }}:{{ common_registry_port }}/openshift/release
    source: quay.io/openshift-release-dev/ocp-v4.0-art-dev
  - mirrors:
    - {{ ipv4_address | first  }}:{{ common_registry_port }}/openshift/release-images
    source: quay.io/openshift-release-dev/ocp-release
{% endif %}