---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ item.name }}
---
apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: {{ item.name }}-group
  namespace: {{ item.namespace }}
spec:
  targetNamespaces:
    - {{ item.namepsace }}
---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: {{ item.name }}
  namespace: {{ item.namespace }}
spec:
  source: {{ item.name }}
  sourceNamespace: {{ item.source_index }}-index
  name: {{ item.name }}
  channel: "stable"
