apiVersion: nmstate.io/v1beta1
kind: NodeNetworkConfigurationPolicy
metadata:
  name: {{ bond_name }}
spec:
  desiredState:
    interfaces:
      - name: {{ bond_name }}
        type: bond
        link-aggregation:
          mode: 802.3ad
          slaves:
{% for nic inbond_interfaces %}          
          -  {{ nic.name }}
{% endfor %}
