{
    "version": 1,
    "storageDriverName": "ontap-nas",
    "backendName": "ontap-nas-backend",
    "managementLIF": "10.6.70.30",
    "dataLIF": "10.6.72.44",
    "svm": "nfssvm",
    "username": "openshift",
    "password": "redhatr3dh4tredhat"
}
