apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: {{ operator_name }}-operatorgroup
  namespace: {{ operator_namespace }}
spec:
  targetNamespaces:
  - {{ operator_namespace }}
