#!/usr/bin/ansible-playbook -K
- hosts: localhost
  gather_facts: true
  vars:
    mirror_content_pull_mirror: true
  roles:
    - role: ocp4.disconnected.mirror_content
      tags: push_cluster_images, stage_0
      vars:
        direction: pull
      when: 
        - mirror_content_pull_mirror | bool
        - common_connected_cluster is false

